.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #343434;
  overflow-y: scroll;
  --secondary: rgb(161, 161, 161);
  --divider: #343434;
   font-family: "Noto Sans JP", sans-serif; 
}
