.loading {
  color: #2CA1A3
}

.nav-img {
  width: 64px;
  max-width: 64px;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.nav-img2 {
  width: 32px;
  margin-right: auto;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.nav-navClass {
  margin-right: auto;
  margin-right: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}