.loading {
  color: #2CA1A3
}
.container {
  margin-left: 1rem;
}

.nav-img {
  width: 64px;
  max-width: 64px;
  display: flex;
  justify-content: flex-end;
}

.nav-img2 {
  width: 32px;
  display: flex;
  justify-content: flex-end;
}

.nav-navClass {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}