.numberInputApp
{
  min-width: 50%;
  outline: none;
  border: none;
  text-align: center;
  font-size: 80px;
  color:black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  padding: 0 4px;
  max-height: 70px;
  min-width: 200px;
  font-size: 0px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  max-width: 70px;
  max-height: 70px;
}